.container {
    height: 2500px;
}

body {
    background-color: #f6f8fb;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 20px 80px;
    border-radius: 5px;
}

.collection-item {
    margin: 20px;
}

.label2 {
    margin-left: 80px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
}

.label {
    display: inline-block;
    font-size: 40px;
    margin-left: 60px;
    padding: 10px 20px;
}

.label-container {
    
}

.text-shadow {
    text-shadow: 5px 5px 0 rgb(138, 159, 255);
}

img {
    display: block;
    max-width: 100%;
    }

body {
    
}